<%= render '/books/navigation/header' %>
<section>
  <h1>All Books</h1>

  <section>
    <article id="top-three">
    <h2>Top Books:</h2>
      <% @top_three.each do |book| %>
        <p><%= book.title %></p>
      <% end %>
    </article>
    <article id="bottom-three">
    <h2>Bottom Books:</h2>
      <% @bottom_three.each do |book| %>
        <p><%= book.title %></p>
      <% end %>
    </article>
    <article id="top-users">
    <h2>Top Users:</h2>
      <% @top_users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    </article>
  </section>
  <% @books.each_with_index do |book, index| %>
  <article class="book_container-<%= index %>">
    <h2><%= link_to  book.title, book_path(book) %></h2>
    <p>
      Author(s):
      <% book.authors.each do |author| %>
        <%= link_to  author.name, author_path(author) %>
      <% end %>
    </p>
    <p>Pages: <%= book.pages %></p>
    <p>Publication: <%= book.publication_year %></p>
    <p>Average Rating: <%= book.average_rating %></p>
  </article>
  <% end %>

  <%= link_to "Create a New Book", new_book_path %>
</section>
