  <h2><%= @book.title %></h2>
  <p>Pages: <%= @book.pages %></p>
  <p>Publication: <%= @book.publication_year %></p>
  <% @book.authors.each do |author| %>
    <p>Author: <%= author.name %></p>
  <% end %>
  <% @book.reviews.each do |review| %>
    <p>Review: <%= review.title %></p>
    <p><%= review.description %></p>
    <p>Rating: <%= review.rating %></p>
    <p>by: <%= review.user.name %></p>
  <% end %>
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
