<%= form_for [@book, @review] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.text_area :rating %>
  </p>
  <p>
    <%= f.label :user %>
    <%= f.text_area :user %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>